/*
* Theme File for Rate My Business
* Created by: Andrey Alda
*/


/* General */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body{
	font-family: 'Raleway', sans-serif;
}

/* Header */
header{
	background:#2eabae;
}

header.alt{
	background:white;
}

header.alt .box-type{
	border: 1px solid #000;
	background: #2eabae;
	margin-top:40px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.logo{
	padding:40px 20px 50px;
}

/* Navigation */

nav{
	background: #176383;
	font-size: 
}

ul.main-navigation{
	margin:0;
	padding:20px 0 20px;
	list-style-type:none;
}

.main-navigation li > a{
	color:#E9ECCF;
}

.main-navigation li{
	margin-right:50px;
	display:inline;
}

.main-navigation a{
	font-size:24px;
}

/* Homepage */

.score-section {
    width: 100%;
    float: left;
	margin-bottom:20px;
}

.ratings-star {
	float:left;
}
.score {
    color: #63b446;
    font-weight: bold;
    display: inline-block;
    float: left;
}

.company-name {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #176383;
	margin-bottom:0px;
}

.date-founded {
    font-size: 16px;
    font-weight: bold;
    color: #de4407;
    margin-bottom: 20px;
}

.rate-btn {
    font-size: 14px;
    text-transform: uppercase;
    color: #de4407;
    font-weight: bold;
}

.rate-btn:hover {
	text-decoration:none;
}

.company-desc {
    font-size: 16px;
    color: #636363;
}

.company-profile {
    margin: 20px 20px 80px;
    padding: 10px 10px 0px;
    border-bottom: 1px solid #000;
}


/* Form - Registration */
input {
    width: 100%;
    padding: 5px;
	font-size:16px;
}

label {
    font-size: 16px;
    color: #000;
    margin-top: 5px;
	font-weight:bold;
}

.error-msg {
    margin-bottom: 10px;
    min-height: 20px;
}

.error p {
	text-align:center;
}

.error-msg p, .error p{
	color:red;
	font-size:16px;
    margin-bottom: 0px;
}

input[type="submit"] {
	font-size:24px;
    font-weight: bold;
    padding: 10px 10px;
    margin-top: 10px;
    background: #ff0;
    border: 0;
    text-transform: uppercase;
}
/* Login Page*/
section .box-type{
	border-left:1px solid #000;
	border-right:1px solid #000;	
	padding: 40px 20px;

}



/* footer */
footer{
	background: #30373A;
	color:#ffffff;
	border-top:1px solid #4F5A60;
}

footer.alt{
	background: white;
	color:#ffffff;
	border-top:none;
}

footer.alt .box-type{
	background:#000;
	border:1px solid #000;
	-webkit-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
	
/* copyright */
footer.alt .box-type .copyright{
	text-align: center;
}
.copyright {
	text-align: right;
	font-size: 11px;
	line-height: 32px;
	margin:0;
}